################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GpsClient/.vs/*
/GpsClient/bin/*
/GpsClient/obj/*

/GeoTrack/.vs/*
/GeoTrack/bin/*
/GeoTrack/obj/*
/.vs/*
/GeoTrack/.vs/*
/GpsClient/.idea/*
/GeoTrack/.vs/*
/GeoTrack/obj/*
/GeoTrack/obj/Debug/net8.0-windows/GeoTrack.AssemblyInfoInputs.cache
