################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoTrack/.vs
/GeoTrack/obj/Debug/net8.0-windows/GeoTrack.assets.cache
/GeoTrack/obj/Release/net8.0-windows
/GeoTrack/obj
