################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoTrack/.vs
/GeoTrack/obj/Debug/net8.0-windows/GeoTrack.assets.cache
/GeoTrack/obj/Release/net8.0-windows
/GeoTrack/obj
/GpsClient/.idea/.idea.GpsClient/.idea/vcs.xml
/GpsClient/.vs
/GpsClient/obj/Release/net8.0
/GeoTrack/bin/Debug/net8.0-windows
/GpsClient/.idea/.idea.GpsClient/.idea/vcs.xml
